﻿@model IEnumerable<ExamSecondTry.Models.Employee>

@{
    ViewData["Title"] = "Empleados";
}

<h1>Empleados</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Empleado</a>
</p>
<div class="table-responsive">
    <table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">
                Documento
            </th>
            <th scope="col">
                Nombres
            </th>
            <th scope="col">
                Apellidos
            </th>
            <th scope="col">
                Ciudad
            </th>
            <th scope="col">
                Direccion
            </th>
            <th scope="col">
                Locacion
            </th>
            <th scope="col">
                Correo
            </th>
            <th scope="col">
                Telefono
            </th>
            <th scope="col">
                Estado
            </th>
            <th scope="col"> Acciones </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                    @if(item.Status)
                    {
                        <span class="btn btn-success btn-sm">
                            Activo
                        </span>
                    } else
                    {
                        <span class="btn btn-danger btn-sm">
                            Inactivo
                        </span>                        
                    }                
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
